.logout-btn {
    top: 0;
    right: 0;
    position: absolute;
    margin: 20px;
}

.dashboard {
    height: 100vh;
    padding: 20px;
    font-family: 'Roboto Slab', serif;
}

.dashboard h1 {
    letter-spacing: 6px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}